* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #c0dBd9;
}

a {
    text-decoration: none;
}

button {
    border: none;
}