.block1 {
    &__wrapper {
        background-color: #b3f95a;
        display: inline-grid;
        margin-bottom: 15px;
        gap: 15px;
        grid-template-areas:
            "first second third"
            "fourth fourth fifth";
        grid-template-columns: minmax(auto, 390px) minmax(auto, 590px) minmax(auto, 160px);
        justify-content: space-between;
    }

    &__block {
        background-color: #8ad191;
        min-height: 198px;
        position: relative;

        &::after {
            display: block;
            position: absolute;
            font-size: 53px;
            line-height: 62px;
            color: #fff;
            top: calc(50% - 31px);
            left: calc(50% - 15px);
        }

        &-first {
            grid-area: first;

            &::after {
                content: '1';
            }
        }

        &-second {
            grid-area: second;

            &::after {
                content: '2';
            }
        }

        &-third {
            grid-area: third;

            &::after {
                content: '3';
            }
        }

        &-fourth {
            grid-area: fourth;

            &::after {
                content: '4';
            }
        }

        &-fifth {
            grid-area: fifth;

            &::after {
                content: '5';
            }
        }
    }
}